.tab {
    background-color: rebeccapurple;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 50px;
    color: white;
    text-align: center;
}